$container_max_width : 1010; //px


$normal : 14; 	// px
$biggest : 4.8; // em
$bigger : 2;  	// em
$big : 1.2;   	// em

$textcolor : #333;
$subtle : #333;
$intense : #333;
$titlecolor : #333;

$bg_light : #eaeaea;
$bg_lighter : #FFF ;

$fontstack : Helvetica, Arial, sans-serif;
$textspace : 1.2;


$titlefontstack : Helvetica, Arial, sans-serif;
$headingfont : Helvetica, Arial, sans-serif;
$titlefont : Helvetica, Arial, sans-serif;